<div style="text-align: right">
    <small style="color: white;">&copy; Copyright {{ "now"|date("Y") }}, Szymon Frączyk </small>
    <br>
    <small style="color: white;">Icons: <a href="http://www.flaticon.com" style="color: white">www.flaticon.com</a>
    </small>
</div>