{% extends "base/base.html.twig" %}
{% block head %}
    <link href="{{ asset('charts/grid.css') }}" rel="stylesheet">
    <link href="{{ asset('schedule/grid.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}

    <div class="wrapper">

        <div class="chart">
            <iframe src="http://wfi.uni.lodz.pl/plany/stacjonarne/informatyka/1-stopnia/INF_INZ_III_5sem.pdf#toolbar=0&navpanes=0&scrollbar=0"
                    width="100%" height="100%"></iframe>
        </div>

        <div class="informatic">elo</div>
        <div class="physics">elo</div>
    </div>

{% endblock %}