.pdf {
    padding-top: 10px;
    height: 500px;
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-color: #DCDBE0;
    border-style: solid;
    border-width: 8px;
    border-color: #ef7d00;
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 1;

}

.physics {
    top: 202px;
    position: relative;
    text-align: center;

    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 6;
}

.informatic {
    text-align: center;
    top: 202px;
    position: relative;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 6;
    grid-column-end: 12;
}
