.main_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 300px;
    grid-gap: 30px;
    padding: 51px;

}

.main_content_box {
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center center;
    border: solid white;


}

.chart {
    background-image: url("chart.svg");
}

.schedule {
    background-image: url("timetable.svg");
}

.building {
    background-image: url("20967583211554892228.svg");
}
.news{
    background-image: url("news.svg");
}