.main_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 300px;
    grid-gap: 30px;
    padding: 51px;

}

.main_content_box {
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-color: rgba(253, 253, 253, 0.25);
    border-style: solid;
    border-width: 8px;
    border-color: #ef7d00;

}

.main_content_box span {
    position: absolute;
    bottom: 30px;
    right: 250px;
    font-size: 20px;
    text-align: center;
}

.main_content_box::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 18px -14px 17px 0 rgba(0, 0, 0, 0.15); /* tu się możesz pobawić ile w alpha dać */
}

.chart {
    background-image: url("charts.svg");

}

.schedule {
    background-image: url("schedule.svg");
}

.building {
    background-image: url("university2.svg");
}

.news {
    background-image: url("newspaper.svg");

}

.weather {
    background-image: url("weather.svg");

}

.consultation {
    background-image: url("consultation2.svg");
}

.signature {

}