.main_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 300px;
    grid-gap: 30px;
    padding: 51px;

}

.main_content_box {
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center center;


}

.chart {
    background-image: url("charts.svg");
}

.schedule {
    background-image: url("schedule.svg");
}

.building {
    background-image: url("university.svg");
}
.news{
    background-image: url("newspaper.svg");
}

.weather {
    background-image: url("weather.svg");
}

.consultation {
    background-image: url("consulting.svg");
}