{% extends "base/base.html.twig" %}
{%  block head %}
    <link href="{{ asset('homepage/homepage.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="main_content">

<div class="main_content_box">

1
</div>
    <div class="main_content_box">

        1
    </div>

    <div class="main_content_box">

        1
    </div>

    <div class="main_content_box">

        1
    </div>

    <div class="main_content_box">

        1
    </div>

    <div class="main_content_box">

        1
    </div>



</div>

{% endblock %}
