{% extends "base/base.html.twig" %}
{% block head %}
    <link href="{{ asset('homepage/homepage.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="main_content">
        <div class="main_content_box chart">

        </div>

        <div class="main_content_box schedule">

        </div>

        <div class="main_content_box building">


        </div>

        <div class="main_content_box news">


        </div>

        <div class="main_content_box weather">


        </div>

        <div class="main_content_box consultation">


        </div>


    </div>

{% endblock %}
