{% extends "base/base.html.twig" %}
{% block head %}
    <script src="{{ asset('Chart.min.js') }}"></script>
    <script src="{{ asset('graph.js') }}"></script>
    <link href="{{ asset('charts/grid.css') }}" rel="stylesheet">

{% endblock %}
{% block content %}
    <div class="main_content">

        <div class="main_content_box">
            <canvas id="myChartTemp" class="chart"></canvas>
        </div>

        <div class="main_content_box">
            <canvas id="myChartPressure" class="chart"></canvas>
        </div>
    </div>


{% endblock %}
