{% extends "base/base.html.twig" %}
{% block head %}
    <script src="{{ asset('Chart.min.js') }}"></script>
    <script src="{{ asset('graph.js') }}"></script>
    <link href="{{ asset('charts/grid.css') }}" rel="stylesheet">

{% endblock %}
{% block content %}



    <div class="wrapper">

        <div class="first">
            HEADER
            <br>
            <div class="button">
                <a href="#">Mobile First</a>
            </div>
            <div class="button">
                <a href="#">Mobile First</a>
            </div>
            <div class="button">
                <a href="#">Mobile First</a>
            </div>
            <div class="button">
                <a href="#">Mobile First</a>
            </div>
        </div>
        <div class="second">
            HEADER
            <br>
            <div class="button">
                <a href="#">Mobile First</a>
            </div>
            <div class="button">
                <a href="#">Mobile First</a>
            </div>
            <div class="button">
                <a href="#">Mobile First</a>
            </div>

        </div>
        <div class="third">
            HEADER
            <br>
            <div class="button">
                <a href="#">Mobile First</a>
            </div>
            <div class="button">
                <a href="#">Mobile First</a>
            </div>
            <div class="button">
                <a href="#">Mobile First</a>
            </div>
        </div>
        <div class="fourth">
            HEADER
            <br>
            <div class="button">
                <a href="#">Mobile First</a>
            </div>
            <div class="button">
                <a href="#">Mobile First</a>
            </div>
            <div class="button">
                <a href="#">Mobile First</a>
            </div>
        </div>
        <div class="chart">
            <canvas id="myChartPressure"></canvas>
        </div>

        <div class="customization">
            <div class="button">
                <a href="#">Mobile First</a>
            </div>
        </div>
    </div>


{% endblock %}
