{% extends "base/base.html.twig" %}

{% block head %}

    <link href="{{ asset('weather/style.css') }}" rel="stylesheet">

{% endblock %}
{% block content %}

    <a href="{{ path('homepage') }}">
        <div class="back_button">


        </div>


    </a>

    <div class="weather_container">

        <div class="day_weather"></div>
        <div class="day_weather"></div>
        <div class="day_weather"></div>
        <div class="day_weather"></div>
        <div class="day_weather"></div>


    </div>

{% endblock %}