.news_container {
    top: 80px;
    position: relative;
    background-color: #DCDBE0;
    margin: auto;
    overflow-y: scroll;
    width: 1200px;
    height: 350px;
}

::-webkit-scrollbar {
    width: 3em;

}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;

}

-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}


.news_item {
    border-bottom: 5px solid #ef7d00;
}

.title {
    text-align: center;
    font-size: 25px;
    color: black;
    font-weight: bold;

}

.date {
    text-align: right;
    font-weight: bold;
}

.excerpt {
    font-size: 17px;
}

.link {
    text-align: center;
}